* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    cursor: none;
    position: relative;
    z-index: 999; 
}

.custom-cursor {
    width: 32px; 
    height: 32px;
    position: absolute;
    pointer-events: none; /* Faz com que o cursor não interfira em eventos de mouse */
    background: url('./assets/martelo.png') no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    z-index: 1000;
    display: none;
}

body.hammer-click .custom-cursor {
    animation: hammer-hit 0.3s;
}

@keyframes hammer-hit {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.container {
    background-image: url("./assets/forjaGame.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% ;
    height: 110vh;
}

.headerGame {
    width: 100%;
    height: 6rem;
    background-color: rgba(133, 131, 131, 0.6);
}

.whatermelon >img {
    width: 70px;
    position: relative;
    top: 0.2rem;
    margin: 0.1rem;
    left: 1rem;
    animation: anim-stars 5s linear infinite;
}
 
@keyframes anim-stars {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-0px);

    }
}

.icons {
    display: flex;
    position: relative;
    top: -3.2rem;
    right: 2rem;
    gap: 15px;
    justify-content: end;
    align-items: end;
}

.icons img:hover{
    opacity: 0.6;
}

.scoreboard{
    background-color: rgba(173, 167, 167, 0.4);
    position: relative;
    left: 4.2rem;
    top: 1rem;
    width: 75rem;
    height: 3.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    gap: 22rem;
}
.score numbers-found{
    font-size: 10px;
}

 .content {
    background-image: url("assets/forjaria.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left:5%;
    top: 2rem;
     width: 75rem;
    height: 41rem;
    border-radius: 8px;
}

.numberList{
    background-color: rgba(125, 123, 123, 0.6);
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 74.5rem;
    width: 4.4rem;
    height: 41.1rem;
    bottom: 1.1rem;
    
}

.numero {
    font-size: 34px;
    opacity: 0.2;
  }

  /* Modal Container */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixo no fundo */
    z-index: 1; /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita o scroll se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com opacidade */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 10px;
    width: 40%; /* 80% da largura */
    max-width: 400px; /* Largura máxima */
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Botão de Fechar */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
  }

  .close:hover{
    color: red;
  }
  
  /* Estilize a imagem */
  .modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  aside.numberList {
    text-align: center; /* center the numbers */
  }
  
  aside.numberList span {
    display: inline-block; /* make the spans inline-block */
    width: 50%; /* set width to 50% */
    margin: 10px; /* add some margin */
    vertical-align: top; /* align vertically to top */
    color: #fff;
  }

   @media only screen and (min-width: 599px) {
   
    .container {
        max-width: 100%;
        height: 110vh;
    }
    .headerGame {
        padding: 7px;
        position: relative;  
    }
    .icons img {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    .scoreboard {
        padding: 15px;
    }
    .score span {
        font-size: 16px;
        margin-bottom: 8px;
    }
    #attempts, #numbers-found, #time {
        margin-bottom: 15px;
    }
    #remaining-attempts, #hits-, #time-left {
        font-size: 20px;
        font-size: 2rem;
    }
    .content {
        padding: 15px;
    }
    #numero {
        font-size: 20px;
        margin: 8px;
        padding: 8px;
    }
} 

