* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/forja.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 400px; /* Largura máxima para melhor adaptação em diferentes telas */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 13px 13px 15px #33280a;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0.7);
}

.content h2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.content h4 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}

.content hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 20px 0;
}

.form input {
    border: none;
    padding: 11px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
}

input:-webkit-autofill {
    transition: background-color 5000s;
    background-color: transparent !important;
    font-size: 17px;
}

.form ::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 15px;
}

#buttonInput {
    padding: 11px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(219, 152, 27);
    width: 100%;
    margin-top: 20px;
}

#buttonInput:hover {
    background-color: rgb(194, 131, 15);
    box-shadow: 2px 2px 12px #000;
}

.message {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 15px;
    
}

.react {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    position: relative;
    left: 20px;
    }

.react:hover {
    border-bottom: 2px solid rgb(194, 131, 15);
}

/* Ajustes para a linha de "Já possui cadastro?" */
.linerBottom {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    position: relative;
    left: -30px;
}

/* Media queries para telas menores */
@media (max-width: 1024px) {
    .content {
        padding: 30px;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content h4 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .content h2 {
        font-size: 1.3rem;
    }

    .content h4 {
        font-size: 0.9rem;
    }

    .message {
        font-size: 1.1rem;
    }
}
