/* Estilos gerais */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/forja.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.content {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 13px 13px 15px #33280a;
  border: 2px solid #000000;
  background-color: rgba(255, 255, 255, 0.7);
}

.content h1 {
  font-size: 36px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  text-align: center;
}

.content h4 {
  font-size: 24px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.form .forminput {
  padding: 11px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
}

.checkInput {
  width: 20px;
  height: 20px;
  accent-color: rgb(219, 152, 27); /* Mantém a tonalidade alaranjada */
}

.rememberPassword {
  font-size: 18px;
  margin-left: 5px;
}

#buttonInput {
  padding: 11px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 1px 1px 10px #000;
  background-color: rgb(219, 152, 27);
  margin-top: 20px;
}

#buttonInput:hover {
  background-color: rgb(194, 131, 15);
  box-shadow: 2px 2px 12px #000;
}

.align-create-account {
  text-align: center;
  margin-top: 20px;
  display: flex; /* Alinha os elementos lado a lado */
  justify-content: center;
}

.forgotPassword,
.react {
  color: #000;
  text-decoration: none;
  font-size: 18px; 
  margin-right: 10px; /* Espaçamento entre os links */
}

.forgotPassword:hover,
.react:hover {
  border-bottom: 2px solid rgb(194, 131, 15);
}

@media (max-width: 1024px) {
  .content {
    padding: 30px;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h4 {
    font-size: 1.5rem;
  }

  .form .forminput {
    font-size: 16px;
  }

  #buttonInput {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .content h1 {
    font-size: 1.8rem;
  }

  .content h4 {
    font-size: 1.2rem;
  }

  .form .forminput {
    font-size: 16px;
  }

  #buttonInput {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 15px;
  }

  .content h1 {
    font-size: 1.5rem;
  }

  .content h4 {
    font-size: 1rem;
  }

  .form .forminput {
    font-size: 14px;
  }

  #buttonInput {
    font-size: 18px;
  }

  .rememberPassword {
    font-size: 16px;
  }
}
